/agusD/*.class
/komp2/Latihan_Modul/*.class
/komp2/~$b 7 Representasi Obyek 3D.doc
/komp2/~$bagai kelanjutan dari posting.doc
/komp2/~$dul-Komgraf (Repaired).docx
/komp2/~$PEMROGRAMAN GRAFIS JAVA 2D New.pptx
/komp2/~$teri tambahan.doc
/script/*.class
build
